* {
    margin:0; padding:0;
  }

  body {
    background-image: url("BackGround.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

  /*--AllWrapper>>Start*/
  /*ページ書式設定*/
  .AllWrapper h1,h2{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    letter-spacing: 5px;
    margin:60px 0;
    text-align: center;
  }  

  /*見出し書式設定*/
  .AllWrapper h1{
    font-size: 45px;
    margin:70px 0;
  }
  /*--AllWrapper>>End*/

  header {
    height: 300px;              
    width: auto; 
    display: flex;
    background-image: linear-gradient(45deg, rgb(156, 240, 255), rgb(132, 56, 255));
    filter: grayscale(100%);
    transition: filter 0.5s;
  }

  header:hover{
    filter: grayscale(0%);
  }

  /*--Title--*/
  .Title{
    font-size: 50px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    color: rgb(255, 255, 255);
    margin: auto;
    letter-spacing: 15px;
  }

  /*--Contents>>Start--*/
  .Content__block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  /*アイコンと説明文のブロック*/
  .Contents__block-img{
    display: flex;
    align-items: center;
    margin: 30px 30px;
  }

  /*説明文*/
  .Contents__block-text{
    margin: 0 50px;
  }

  /*アイコン*/
  .Contents__block-img img{
    display: block;
    width: 250px;
    height: 250px;
    object-fit: cover;
    filter: grayscale(100%);
    border-radius: 5%;
    transition: filter 0.5s;
  }

  /*アイコン::カーソルのホバー*/
  .Contents__block-img img:hover{
    filter: grayscale(0%);
  }
  /*--Contents>>End--*/


  /*--AddMore>>Start--*/
  /*summaryの書式*/
  summary {
    display: block;
    text-align: center;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 35px;    
    color: rgb(255, 104, 104);

  }

  /*アコーディオン内容文*/
  details h2{
    margin:25px 0;
    text-align: left;
  }
  /*--AddMore>>End--*/


  



 
